In [2]:
import numpy as np

1. 创建 1×5 全 0 浮点向量

In [7]:
a = np.zeros(5, dtype=float)
a

array([0., 0., 0., 0., 0.])

2. 创建 3×3 单位阵(对角线为1)

In [8]:
a = np.eye(3)
a

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

3. 生成 0–9 的数组

In [10]:
my_list = range(0, 10)
my_list

range(0, 10)

4. 从 0 到 1 等间隔 5 个数

In [12]:
my_list = np.linspace(0,1,5)
my_list

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

5. 随机 2×3 正态分布

In [14]:
a = np.random.randn(2, 3)
a

array([[-0.62122007,  0.5105913 , -0.1832004 ],
       [-0.38875061, -0.86727411, -1.1598184 ]])

6. 将 1~6 变成 2×3 数组

In [15]:
a = np.arange(1, 7).reshape(2, 3)
a

array([[1, 2, 3],
       [4, 5, 6]])

7. 获取第 2 行整行

In [19]:
a = np.array([[1, 2, 3], [4, 5, 6]])
a = a[1, :]
a

array([4, 5, 6])

8. 获取第 1 列整列

In [20]:
a = np.array([[1, 2, 3], [4, 5, 6]])
a = a[:, 0]
a

array([1, 4])

9. 取前两行、后两列

In [21]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
a = a[:2, -2:]
a

array([[2, 3],
       [5, 6]])

10. 倒序整个数组

In [3]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
a = a[::-1, ::-1]
a

array([[9, 8, 7],
       [6, 5, 4],
       [3, 2, 1]])

11. 行倒序，列不变

In [4]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
a = a[::-1, :]
a

array([[7, 8, 9],
       [4, 5, 6],
       [1, 2, 3]])

12. 把 3×4 数组展平成一维

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
a = a.reshape(1,12)
a

# 此时a变成了只有一行数据的二维向量，不满足题意

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 17, 18, 19]])

In [ ]:
#可以做如下修改
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
x = b.ravel()      # 推荐，返回视图
y = b.flatten()    # 返回拷贝
z = b.reshape(-1)  # 显式变成一维

14. 计算 a 的转置

In [4]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
a = b.T
a

array([[ 1,  4,  7, 17],
       [ 2,  5,  8, 18],
       [ 3,  6,  9, 19]])

15. 将 a 与 a.T 做矩阵乘

In [5]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
a = b @ b.T
a

array([[ 14,  32,  50, 110],
       [ 32,  77, 122, 272],
       [ 50, 122, 194, 434],
       [110, 272, 434, 974]])

16. 逐元素平方

In [6]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
a = b ** 2
a

array([[  1,   4,   9],
       [ 16,  25,  36],
       [ 49,  64,  81],
       [289, 324, 361]])

17. 所有元素加 1

In [7]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
a = b + 2
a

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [19, 20, 21]])

18. 求每行最大值

In [8]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
a = b.max(axis=1)
a

array([ 3,  6,  9, 19])

19. 求每列平均值

In [11]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
a = b.mean(axis=0)
a

array([7.25, 8.25, 9.25])

20. 计算总和

In [13]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
a = b.sum()
a

np.int64(99)

21. 计算累积和（flatten 后）

In [19]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
c = b.flatten()
c
a = c.cumsum()
a

array([ 1,  3,  6, 10, 15, 21, 28, 36, 45, 62, 80, 99])

22. 找到大于 3 的索引

In [21]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
a = np.where(b > 3)
a

(array([1, 1, 1, 2, 2, 2, 3, 3, 3]), array([0, 1, 2, 0, 1, 2, 0, 1, 2]))

23. 布尔掩码过滤

In [25]:
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [17, 18, 19]])
a = b[b > 3]
a

array([ 4,  5,  6,  7,  8,  9, 17, 18, 19])

24. 排序每行

In [26]:
b = np.array([[1, 5, 3], [8, 5, 6], [5, 10, 9], [100, 18, 19]])
np.sort(b, axis=1)

array([[  1,   3,   5],
       [  5,   6,   8],
       [  5,   9,  10],
       [ 18,  19, 100]])

25. 去重 1-D 数组

In [30]:
b = np.array([1, 2, 3, 4, 3])
c = np.unique_values(b)
c

array([1, 2, 3, 4])

26. 交换第 1、2 行

In [31]:
b = np.array([[1, 5, 3], [8, 5, 6], [5, 10, 9], [100, 18, 19]])
b[[0, 1]] = b[[1, 0]]
b

array([[  8,   5,   6],
       [  1,   5,   3],
       [  5,  10,   9],
       [100,  18,  19]])

27. 交换第 0、2 列

In [34]:
b = np.array([[1, 5, 3], [8, 5, 6], [5, 10, 9], [100, 18, 19]])
b[:, [0, 2]] = b[:, [2, 0]]
b

array([[  3,   5,   1],
       [  6,   5,   8],
       [  9,  10,   5],
       [ 19,  18, 100]])

28. 在第 1 行位置插入一行 0

In [35]:
b = np.array([[1, 5, 3], [8, 5, 6], [5, 10, 9], [100, 18, 19]])
np.insert(b, 1, 0, axis=0)

array([[  1,   5,   3],
       [  0,   0,   0],
       [  8,   5,   6],
       [  5,  10,   9],
       [100,  18,  19]])

29. 删除第 2 列

In [ ]:
b = np.array([[1, 5, 3], [8, 5, 6], [5, 10, 9], [100, 18, 19]])
np.delete(b, 1, axis=1)

array([[  1,   5],
       [  8,   5],
       [  5,  10],
       [100,  18]])

30. 沿行拼接两个 2×3 数组

In [3]:
a = np.array([[1, 5, 3], [8, 5, 6]])
b = np.array([[5, 10, 9], [100, 18, 19]])

c = np.vstack([a,b])
c

array([[  1,   5,   3],
       [  8,   5,   6],
       [  5,  10,   9],
       [100,  18,  19]])

31. 沿列拼接

In [5]:
a = np.array([[1, 5, 3], [8, 5, 6]])
b = np.array([[5, 10, 9], [100, 18, 19]])
c = np.hstack([a, b])
c

array([[  1,   5,   3,   5,  10,   9],
       [  8,   5,   6, 100,  18,  19]])

32. 水平拆分成 3 份

In [6]:
b = np.array([[5, 10, 9], [100, 18, 19]])
a = np.hsplit(b, 3)
a

[array([[  5],
        [100]]),
 array([[10],
        [18]]),
 array([[ 9],
        [19]])]

33. 垂直拆分成 2 份

In [7]:
b = np.array([[5, 10, 9], [100, 18, 19]])
a = np.vsplit(b, 2)
a

[array([[ 5, 10,  9]]), array([[100,  18,  19]])]

34. 广播：3×1 + 1×3 → 3×3

In [9]:
c = np.arange(3).reshape(3, 1)
d = np.arange(3).reshape(1, 3)
print(c)
print(d)
c + d

[[0]
 [1]
 [2]]
[[0 1 2]]

array([[0, 1, 2],
       [1, 2, 3],
       [2, 3, 4]])

35. 广播：5×1×4 + 3×4 → 5×3×4

In [15]:
c = np.arange(20).reshape(5, 1, 4)
d = np.arange(12).reshape(3, 4)
print(c)
print(d)
print("="*10)
a  = c + d
print(a)
print(a.shape)

[[[ 0  1  2  3]]

 [[ 4  5  6  7]]

 [[ 8  9 10 11]]

 [[12 13 14 15]]

 [[16 17 18 19]]]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
==========
[[[ 0  2  4  6]
  [ 4  6  8 10]
  [ 8 10 12 14]]

 [[ 4  6  8 10]
  [ 8 10 12 14]
  [12 14 16 18]]

 [[ 8 10 12 14]
  [12 14 16 18]
  [16 18 20 22]]

 [[12 14 16 18]
  [16 18 20 22]
  [20 22 24 26]]

 [[16 18 20 22]
  [20 22 24 26]
  [24 26 28 30]]]
(5, 3, 4)

36. 使用 einsum 计算矩阵乘法

In [16]:
c = np.arange(6).reshape(3, 2)
d = np.arange(8).reshape(2, 4)

a = np.einsum('ij,jk->ik', c, d)
a

array([[ 4,  5,  6,  7],
       [12, 17, 22, 27],
       [20, 29, 38, 47]])

37. 使用 einsum 求每行和

In [18]:
c = np.arange(6).reshape(3, 2)
a = np.einsum('ij->i', c)
a

array([1, 5, 9])

38. 使用 einsum 求每列和

In [19]:
c = np.arange(6).reshape(3, 2)
a = np.einsum('ij->j', c)
a

array([6, 9])

39. 使用 einsum 求迹（对角线之和）

In [22]:
c = np.arange(16).reshape(4, 4)
a = np.einsum('ii->', c)
a

np.int64(30)

40. 使用 einsum 计算外积

In [23]:
u = np.array([1, 2])
v = np.array([3, 4, 5])
np.einsum('i,j->ij', u, v)

array([[ 3,  4,  5],
       [ 6,  8, 10]])

41. 使用 einsum 计算内积

In [24]:
np.einsum('i,i->', u, u)

np.int64(5)

42. 计算 3×3×3 张量沿 axis=1 的 sum

In [25]:
t = np.ones((3, 3, 3))
np.einsum('ijk->ik', t)

array([[3., 3., 3.],
       [3., 3., 3.],
       [3., 3., 3.]])

43. 使用 einsum 做批量矩阵乘 (batch×n×n)

In [28]:
batch = np.random.randn(10, 4, 4)
print(batch)
print('=='*10)
result = np.einsum('bij,bjk->bik', batch, batch)
print(result)

[[[ 0.19451858  1.87895653 -0.32939439 -0.68656169]
  [ 1.91170913 -0.02004727 -1.1980882   0.57849521]
  [ 1.2655844   0.44679616  1.20452613  0.03659526]
  [-0.87553401 -0.427904    1.13263545 -0.85191512]]

 [[-0.03430467 -0.29691512 -2.0485871   0.00931297]
  [-1.04357624  0.71499629 -0.61038261  0.86258688]
  [ 0.87652028 -1.17662259 -1.88212754  0.53226739]
  [-0.10524392  1.45701361 -1.5869933  -0.11914485]]

 [[-0.91456402  0.9267777   1.05225666  1.09205032]
  [-0.60031473  0.93790514  0.0641807  -0.36063464]
  [ 0.68893933 -0.55796622 -1.40796107 -1.89022835]
  [ 1.26227696  0.52957307  1.0118599  -0.14097094]]

 [[ 1.11027815  0.66984412 -0.55698845 -0.58036758]
  [ 1.60454759  0.37087039  0.63201026 -0.26642716]
  [-0.57762109 -2.11106415 -0.59080245 -0.13829763]
  [ 1.594618   -1.10901243 -0.73434163  0.49889077]]

 [[-1.24277165 -1.66142421  0.55391684  0.21490827]
  [-0.26320547 -0.21538815  0.48316953  0.9484791 ]
  [ 1.1607425   1.40724109 -0.98238631  1.7626049 ]
  [ 0.24437244  0.16662123  0.99732165  0.1134135 ]]

 [[ 1.08193954 -0.28280887 -0.87923256 -2.11242763]
  [ 0.45441119  0.66998238 -0.17627143 -0.75069813]
  [ 1.67555456  1.12139785  2.61242894 -0.73445608]
  [ 1.23384976  0.9608367   1.93057226 -0.03195319]]

 [[-0.67686823  2.16193702 -0.72156796 -0.19673876]
  [ 0.05908371 -1.54741091 -0.21421155 -0.0691689 ]
  [ 1.02706449 -1.76960432 -1.91091347 -0.92442463]
  [ 3.25391065  0.04700314  1.48738803  2.71383357]]

 [[-0.05619467  0.28297881  0.67992634 -0.74778883]
  [ 0.88078524 -1.25489969 -0.83524745  0.56441931]
  [-0.43961347 -0.49278603 -0.20255889 -0.42729865]
  [-0.04651991 -0.11813716 -0.50129635  1.05996212]]

 [[ 0.24643834 -0.97386666 -1.30714815  0.28084336]
  [ 0.59889127 -0.14619526  1.33460066 -1.19842572]
  [ 1.34709691 -0.99768243  0.75079368 -1.28683632]
  [-2.00422116 -0.96764156  0.91824524 -1.27947562]]

 [[-0.50799399  0.07619251 -0.35847101  1.57834939]
  [ 0.09656431  2.44123026 -0.85372503  0.25153   ]
  [-1.6612073  -0.56964495 -0.63027656  0.52760519]
  [ 0.24614453  0.24791706  0.38009414  0.76755392]]]
====================
[[[ 3.81408753  0.47443435 -3.48961724  1.52625637]
  [-1.68923558  2.80957861 -1.3935922  -1.86077668]
  [ 2.59271306  2.89153942  0.54015467 -0.59752844]
  [ 1.19099082 -0.76591697  1.20044244  1.12077616]]

 [[-1.48557789  2.22187535  4.09243051 -1.34794028]
  [-1.33614835  2.79606404  1.48133383  0.17936808]
  [-0.50791423  1.88854171  1.62026111 -2.07198825]
  [-2.89538695  2.76670432  2.50227145  0.42531141]]

 [[ 2.38348     0.0128288  -1.27940933 -3.47593082]
  [-0.42501621  0.09651469 -1.02676542 -1.06429214]
  [-3.65111524 -0.1002451   0.75883845  3.88141358]
  [-0.9531779   1.02730139 -0.20507449 -0.7052859 ]]

 [[ 1.70377801  2.81161185  0.56019447 -1.03534396]
  [ 1.58666131  0.17359845 -0.83706524 -1.25036092]
  [-3.9078949   0.23074839 -0.56188068  0.91038855]
  [ 1.2107177   1.65381184 -1.52159647 -0.27954386]]

 [[ 2.6772498   3.23792482 -1.82096935 -0.84219802]
  [ 1.17641319  1.32166077  0.22141668  0.69835112]
  [-2.52249692 -3.32035572  4.04585771  0.0525362 ]
  [ 0.837794    0.98047458 -0.65077709  1.98130106]]

 [[-3.03753879 -3.51112656 -7.2765521  -1.3599584 ]
  [-0.42550818 -0.59860383 -2.42740542 -1.30941445]
  [ 5.79348321  2.50133496  3.7359919  -6.27656511]
  [ 4.9669195   2.42903779  3.72758594 -4.74461616]]

 [[-0.79538132 -3.54110896  1.11152159  0.11674634]
  [-0.57649718  2.89803431  0.59529911  0.1057182 ]
  [-5.77036865  8.29686364  1.91458502 -0.82190092]
  [ 8.15852377  4.45748712 -1.16373253  5.34649299]]

 [[-0.01171631 -0.61772847 -0.03742688 -0.881419  ]
  [-0.81386326  2.16893616  1.5332663  -0.41176778]
  [-0.30040922  0.64429379  0.36792686 -0.31576716]
  [ 0.06962798  0.25689706 -0.36276946  1.30583112]]

 [[-2.84623583  0.93473964 -2.34536999  2.55907091]
  [ 4.2597813  -0.73372829 -1.07639089  0.15934269]
  [ 3.32496945 -0.66989368 -3.71030303  2.25429863]
  [ 2.72788841  2.41526542  0.84293924  1.05220084]]

 [[ 1.2494121   0.74279905  0.94291089  0.2397098 ]
  [ 1.66680861  6.51564137 -1.48506693  0.50908794]
  [ 1.9657631  -1.02736985  1.67960299 -2.69282007]
  [-0.54358596  0.59774799 -0.24771035  1.24053932]]]

44. 设置打印精度 2 位小数

In [ ]:
# 全局设置 NumPy 打印时的浮点精度（小数点后保留 2 位）
np.set_printoptions(precision=2)

a = np.array([3.1415926, 2.71828, 1.618])
print(a)

[3.14 2.72 1.62]

45. 关闭科学计数法

In [ ]:
np.set_printoptions(suppress=True)

46. 保存数组到磁盘并读取

In [ ]:
np.save('a.npy', a)
aa = np.load('a.npy')

47. 保存为文本并读取

In [ ]:
np.savetxt('a.txt', a, fmt='%d')
bb = np.loadtxt('a.txt', dtype=int)

48. 统计描述（min, max, mean, std）

In [ ]:
a = np.arange(12).reshape(4, 3)
np.array([a.min(), a.max(), a.mean(), a.std()])

49. 找到每行最大值索引

In [ ]:
a = np.arange(12).reshape(4, 3)
a.argmax(axis=1)

50. 将 1-D 数组变为列向量

In [36]:
a = np.arange(5).reshape(-1)
col = a[:, None]
col

array([[0],
       [1],
       [2],
       [3],
       [4]])